/*формирование шапки*/
body {
      margin: 0;
      font-family: Arial, sans-serif;
      background-color: antiquewhite;
}

/*формирование верхней плашки */
nav {
    background-color: #333;
    overflow: hidden;
}

/*тоже формирование верхней плашки и расположения надписей */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*расположение надписи на верхней плашке*/
nav li {
    float: left;
}

/*формирование надписи на верхней плашке*/
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* задний фон верхней плашки*/
nav li a:hover {
    background-color: #111;
}

/*фон заголовка сайта*/
header {
    background-color: #a1887f;
    background-position: center;
    text-align: center;
}

/*заголовок сайта*/
.hero-image h1 {
    font-size: 60px;
    margin: 0;
    color: white;
}

/*подзаголовок сайта*/
.hero-image p {
    font-size: 24px;
    margin-top: 20px;
    color: white;
}

/*задаем положение и форму поисковика*/
.search-profile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    background-color: #ddd;
}

/*размер и положение поисковой строки*/
.search-profile form {
    display: flex;
    flex-grow: 1;
}

/*задает сероватый цвет поисковой строке*/
.search-profile input[type=text] {
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f1f1f1;
}

/*выравнивание поисковой строки чтобы она не доставала до кнопки поиска*/
.search-profile button[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s ease;
}

/*удалить скорее всего*/
/*.search-profile button[type=submit]:hover {*/
/*    background-color: #3e8e41;*/
/*}*/

/*иконка профиля*/
.search-profile a {
    font-size: 24px;
    color: black;
    margin-left: 10px;
}
/*задает цвет кнопке поиска*/
.search-profile form button[type="submit"] {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #a1887f;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

/*ставит надпись главную  в центр*/
.books-section h1 {
    text-align: center;
}

/*расположение списка книг на странице*/
#book-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -5px;
    background-color: antiquewhite;
    flex-direction: row;
}

/*расположение элементов книг на странице*/
.book-item {
    width: calc(50% - 500px);
    margin: 0 250px 30px;
}

.book-author {
    text-align: center;
    font-size: 10px;
}

.book-title {
    text-align: center;
    font-size: 20px;
}

 /*Стиль для описания книги*/
.book-description {
    font-size: 14px;
    margin: 0;
    margin-bottom: 5px;
    text-align: center;
}


/*выравнивает пагинацию по центру*/
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/*скрывает кнопку вокруг цифр страницы*/
.pagination button {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 10px;
    padding: 5px 10px;
}

.pagination button.active {
    font-weight: bold;
    text-decoration: underline;
}


.about-section {
    background-color: peachpuff;
    padding: 50px;
    color: #444;
}

/*сдвигает от краев форму обратной связи*/
.contact-section {
    background-color: #a1887f;
    padding: 50px;
    color: #444;
}

/*выстраивает иконки формы обратной связи */
label {
    display: block;
    margin-bottom: 10px;
    color: #444;
}
