<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BookRental - My Account</title>
    <link rel="stylesheet" href="../style/editProfile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="mainView.html#">Home</a></li>
            <li><a href="mainView.html#books-section">Books</a></li>
            <li><a href="mainView.html#about-section">About Us</a></li>
            <li><a href="mainView.html#contact-section">Contact Us</a></li>
            <li class="login"><a href="#">Log in</a></li>
            <li><a href="#"><i class="fa fa-shopping-cart"></i> Cart</a></li>
            <li><a href="#"><i class="fa fa-heart"></i> Wishlist</a></li>
        </ul>
    </nav>
    <div class="hero-image">
        <h1>Account Page</h1>
    </div>
</header>
<main>
    <h1>My Account</h1>
    <form>
        <label for="name">Имя:</label>
        <input type="text" id="name" name="name">

        <label for="email">Email:</label>
        <input type="text" id="email" name="email">
    </form>
</main>
<div class="footer">
    <footer>
        <p>Copyright © Book Rental Service
            <br>All rights reserved.</p>
    </footer>
</div>
<script src="../service/editProfile.js"></script>
</body>
</html>